.App {
  text-align: center;
}

.language {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.language:hover {
  cursor:pointer;
  opacity: 0.7;
}

.language:active {
  padding: 1px;
}

input:focus {
box-shadow: 0 0 20PX #719ECE;
}

.error {
  border: 2px solid red;
}

.error:focus {
  outline: none !important;
  border: 2px solid red;
}