.navbar{
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: var(--twn-menuWidth);
    padding: 1.5625rem;
    height: 100vh;
    z-index: 900;
    overflow: auto;
}

.nav-item{
    display: block;
    padding: 0.7rem 1rem;
    text-align: right;
    margin: 0 -1.25rem;
    text-decoration: none;
    font-size: 1.1875rem;
    text-transform: uppercase;
    transition: transform .25s;
    transform-origin: right center;
}

 a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.TW-logo{
    margin: 1.5625rem 0 3.125rem;
    width: 170px;
  }
    